extends ../admin/addproducts
block create

    .container
        if error
            each err in error
                .alert.alert-danger= err ? err : ''
    .container-fluid.mt-4
        .card.mb-4
            .card-header
                .row
                    .col-sm-7.col-md-7
                        i.fas.fa-table.mt-3
                        span &nbsp;Các kiểu nhà đã có
                    .col-sm-5.col-md-5
                        form(method="POST", onsubmit="return validateForm()")
            .card-body
                .table-responsive
                    table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th Các kiểu nhà
                                th Tác vụ
                        tbody
                            each item in kinds
                                tr
                                    td= item.name
                                    td
                                        a(href="/admin/create/delete=" + item.id).btn.btn-danger Xóa