extends ../../layouts/admin
block content
    main
        .container-fluid
            h1.mt-4 Danh sách size
            ol.breadcrumb.mb-4
                li.breadcrumb-item
                    a(href='/admin') Admin
                li.breadcrumb-item.active Sizes
            .card.mb-4
                .card-header
                    .row
                        .col-sm-3.col-md-3
                            i.fas.fa-table.mr-1
                            span Danh sách size
                        .col-sm-9.col-md-9
                            form(action="/admin/sizes/create" method="POST", enctype="multipart/form-data", onsubmit="return validateForm()")

                                .row 
                                    .col-md-9 
                                        .form-group.d-flex
                                            input#check-1.form-control(type="text", name="name", placeholder="Mời nhập size")
                                            label#error-1.lable-error
                                    .col-md-3
                                        .form-group
                                            button.btn.btn-primary(type="submit") Thêm mới
                .card-body
                    .table-responsive
                        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                            thead
                                tr
                                    th STT
                                    th Size
                                    th Tác vụ
                            tbody
                                each size, index in sizes
                                    tr
                                        td= index + 1
                                        td= size.name
                                        td
                                            a(href="/admin/sizes/delete="+ size.id).btn.btn-danger Xóa
                                    
