extends ../product/index
block load
    .row
        each item in data
            .col-md-6.col-lg-4.ftco-animate
                .product
                    if(item.image === '')
                        a.img-prod(href='/products/id='+item.id)
                            img.img-fluid(src=item.image, alt='Colorlib Template')
                            if(item.new === true)
                                span.status New
                            .overlay
                    else
                        a.img-prod(href='/products/id='+item.id)
                            img.img-fluid(src= item.image, alt='Colorlib Template')
                            if(item.new === true)
                                span.status New
                            .overlay
                    .text.py-3.pb-4.px-3.text-center
                        h3
                            a(href='#')= item.name
                        .d-flex
                            .pricing
                                p.price
                                    span.price-sale Chi tiết
                            .bottom-area.d-flex.px-3
                                .m-auto.d-flex
                                    a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='/crops/id='+item.id)
                                        span
                                            i.ion-ios-menu
                                    a.heart.d-flex.justify-content-center.align-items-center(href='/crops/like='+item.id)
                                        span
                                            i.ion-ios-heart

