extends ../layouts/index 
block content

    section.ftco-section.ftco-no-pb.ftco-no-pt.bg-light
        .container
            .row
                .col-md-12(style="text-align: justify")
                    h1(style="text-align: center;") GIỚI THIỆU CHUNG
                    span
                        p Bất động sản có lịch sử phát triển gần 14 năm tại Việt Nam và hiện là thành viên của PropertyGuru, tập đoàn đang sở hữu các nền tảng công nghệ bất động sản hàng đầu châu Á gồm PropertyGuru tại Singapore và Malaysia, DDproperty.com tại Thái Lan, Rumah.com tại Indonesia. Tập đoàn PropertyGuru hiện đang chiếm tới 55% thị phần tại Đông Nam Á trong mảng bất động sản trực tuyến và sở hữu thương hiệu giải thưởng bất động sản uy tín nhất châu Á là Asia Property Awards tại 11 nước châu Á, trong đó có Việt Nam.                        p Từ đó đến nay có thêm hàng trăm giống cây trồng nông nghiệp mới được các viện, trường, doanh nghiệp và nông dân chọn tạo, nhập nội, chọn lọc làm thuần được  công nhận cho sản xuất thử hoặc công nhận chính thức và được mở rộng vào sản xuất. Việc ứng dụng rộng rãi bộ giống cây trồng mới là một trong những nhân tố quyết định làm tăng năng suất, chất lượng và hiệu quả của sản xuất nông nghiệp trong những năm qua.
                        p Với tầm nhìn trở thành cố vấn tin cậy cho những người tìm kiếm bất động sản, Batdongsan.com.vn đang và sẽ đầu tư mạnh mẽ vào công nghệ để Batdongsan.com.vn thân thiện hơn với người dùng và mang đến các giải pháp công nghệ vượt trội.                        p Xin  trân trọng giới thiệu cuốn sách “966 giống cây trồng nông nghiệp mới”với các nhà khoa học, quản lý, khuyến nông, sản xuất kinh doanh giống cây trồng và bà con nông dân cả nước.
                        p Người tìm kiếm bất động sản có thể tìm thấy hầu hết các thông tin, dữ liệu về bất động sản và các tin tức thị trường, phong thủy, kiến trúc cũng như các tư vấn có ích từ Batdongsan.com.vn. Batdongsan.com.vn cũng là đối tác tin cậy và thường xuyên của hầu hết các chủ đầu tư, sàn giao dịch, nhà môi giới cá nhân tại Việt Nam
                        p Thành lập vào năm 2007, PropertyGuru là công ty công nghệ bất động sản tin cậy và tiên phong tại châu Á. PropertyGuru là điểm đến ưa thích của hơn 25 triệu người tìm kiếm bất động sản hàng tháng để tìm kiếm ngôi nhà mơ ước của họ. PropertyGuru và các công ty thành viên tạo nên sức mạnh cho người tìm kiếm bất động sản khi cung cấp nhiều lựa chọn và thông tin tin cậy với hơn 2 triệu bất động sản, sự thấu hiểu thị trường và giải pháp hiệu quả cho phép họ tự tin đưa ra quyết định khi mua/bán bất động sản trên khắp các nước Singapore, Malaysia, Thái Lan, Indonesia và Việt Nam.
                    span(style="text-align: right;")
                        p Thông tin nhà
                        p Batdongsan.com.vn