extends ../layouts/index
block content
    section.ftco-section.ftco-category
        .container
            .row
                .col-md-8
                    .row
                        .col-md-6.order-md-last.align-items-stretch.d-flex
                            .category-wrap-2.ftco-animate.img(style='background-image: url(image/center.jpg);')
                                .text.text-center
                                    h2 Real shoes 
                                        p Thương hiệu giày show maker
                                        p
                                        //- a.btn.btn-primary(href='/products/load=H78vnx4c') Tìm hiểu
                        .col-md-6
                            .category-wrap.ftco-animate.img.mb-4.d-flex.align-items-end(style='background-image: url(image/gtt.png);')
                                .text.px-3.py-1
                                    h2.mb-0
                                        a(href='/products/load=KpvL9a4xn') Giày thể thao
                            .category-wrap.ftco-animate.img.d-flex.align-items-end(style='background-image: url(image/gtt1.png);')
                                .text.px-3.py-1
                                    h2.mb-0
                                        a(href='/products/load=N0YRx_qf-') Giày Thiết Kế
                .col-md-4
                    .category-wrap.ftco-animate.img.mb-4.d-flex.align-items-end(style='background-image: url(image/gtt.png);')
                        .text.px-3.py-1
                            h2.mb-0
                                a(href='/products/load=YDmRLgWCb') Giày thời trang
                    .category-wrap.ftco-animate.img.d-flex.align-items-end(style='background-image: url(image/gtt1.png);')
                        .text.px-3.py-1
                            h2.mb-0
                                a(href='/products/load=z1f7-2DRW') Giày hiện đại
    section.ftco-section.ftco-no-pb.ftco-no-pt
        .container
            .row.justify-content-center.mb-2.pb-2
                .col-md-12.heading-section.text-center.ftco-animate
                    span.subheading Giày thể thao
        .container
            .row.autoplay
                each item in data
                    .col-md-6.col-lg-3.ftco-animate
                        .product
                            a.img-prod(href='/products/'+item.slug)
                                img.img-fluids(src= item.images, alt='Colorlib Template') 
                                    
                            .text.py-3.pb-4.px-3.text-center
                                h3
                                    a(href='#')= item.name
                                .d-flex
                                    .pricing
                                        p.price
                                            span.price-sale Chi tiết
                                    .bottom-area.d-flex.px-3
                                        .m-auto.d-flex
                                            a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='/products/id='+item.id)
                                                span
                                                    i.ion-ios-menu
                                            a.heart.d-flex.justify-content-center.align-items-center(href='/crops/like='+item.id)
                                                span
                                                    i.ion-ios-heart
    section.ftco-section.ftco-no-pb.ftco-no-pt
        .container
            .row.justify-content-center.mb-2.pb-2
                .col-md-12.heading-section.text-center.ftco-animate
                    span.subheading Giày Thiết Kế
        .container
            .row.autoplay
                each item in data
                    .col-md-6.col-lg-3.ftco-animate
                            .product
                                a.img-prod(href='/products/id='+item._id)
                                    img.img-fluids(src= item.images, alt='Colorlib Template')
                                        
                                .text.py-3.pb-4.px-3.text-center
                                    h3
                                        a(href='#')= item.name
                                    .d-flex
                                        .pricing
                                            p.price
                                                span.price-sale Chi tiết
                                        .bottom-area.d-flex.px-3
                                            .m-auto.d-flex
                                                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='/products/id='+item.id)
                                                    span
                                                        i.ion-ios-menu
                                                a.heart.d-flex.justify-content-center.align-items-center(href='/crops/like='+item.id)
                                                    span
                                                        i.ion-ios-heart
    section.ftco-section.ftco-no-pb.ftco-no-pt
        .container
            .row.justify-content-center.mb-2.pb-2
                .col-md-12.heading-section.text-center.ftco-animate
                    span.subheading Giày thời trang
        .container
            .row.autoplay
                each item in data
                    .col-md-6.col-lg-3.ftco-animate
                            .product
                                a.img-prod(href='/products/id='+item._id)
                                    img.img-fluids(src= item.images, alt='Colorlib Template')
                                        
                                .text.py-3.pb-4.px-3.text-center
                                    h3
                                        a(href='#')= item.name
                                    .d-flex
                                        .pricing
                                            p.price
                                                span.price-sale Chi tiết
                                        .bottom-area.d-flex.px-3
                                            .m-auto.d-flex
                                                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='/products/id='+item.id)
                                                    span
                                                        i.ion-ios-menu
                                                a.heart.d-flex.justify-content-center.align-items-center(href='/crops/like='+item.id)
                                                    span
                                                        i.ion-ios-heart 
    section.ftco-section.ftco-no-pb.ftco-no-pt
        .container
            .row.justify-content-center.mb-2.pb-2
                .col-md-12.heading-section.text-center.ftco-animate
                    span.subheading Giày hiện đại
        .container
            .row.autoplay
                each item in data
                    .col-md-6.col-lg-3.ftco-animate
                            .product
                                a.img-prod(href='/products/id='+item._id)
                                    img.img-fluids(src= item.images, alt='Colorlib Template')
                                        
                                .text.py-3.pb-4.px-3.text-center
                                    h3
                                        a(href='#')= item.name
                                    .d-flex
                                        .pricing
                                            p.price
                                                span.price-sale Chi tiết
                                        .bottom-area.d-flex.px-3
                                            .m-auto.d-flex
                                                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='/products/id='+item.id)
                                                    span
                                                        i.ion-ios-menu
                                                a.heart.d-flex.justify-content-center.align-items-center(href='/crops/like='+item.id)
                                                    span
                                                        i.ion-ios-heart                                                                                                                                                         